.row{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:180px;
    margin-right:180x;
}

[class*="col-"]
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.h1{
    padding-top: 10px;
}
